#
# requirements-swmm.txt - Python requirements for running nrtest
#
# Created:  June  3, 2020
# Updated:  July 24, 2024
#
# Author: See AUTHORS
#
# Useful for configuring a python environment to run nrtests on swmm.
#
# usage:
#   pip install -r requirements-swmm.txt
#

-i https://usepa.github.io/swmm-python-index/

aenum==3.1.11

nrtest==0.2.5

nrtest-swmm==0.8.0

swmm-toolkit==0.15.2
